<header>
  <a href="#" class="logo">Ruby Patrimony</a>

  <nav class="navbar">
    <a href="#">Home</a>
    <a href="#">Admin Log</a>
    <a href="#">New Employee</a>
    <a href="#">Contact</a>
  </nav>
</header>