<section class="home">
  <div class="home-text">
    <h4>New Employee?</h4>
    <h1>Sign Up with your ID</h1>
    <a href="<%= new_employee_path %>" class="btn">Sign In</a>
  </div>

  <div class="home-img">
    <img src="https://i.imgur.com/MedL8ZK.png">
  </div>
</section>
